*{
    color: white;
}
body{
    background-color: rgb(210, 212, 187);
}
.container{
    width: 800px;
    background-color: #0d5c63;
    margin-left: 450px;
    margin-top: 150px;
    border-radius: 10px;
}
h2 {
    color: orange;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 4px;
    /* text-transform: uppercase; */
    text-shadow: 2px 2px 3px black;
    font-family: 'Righteous', cursive;
}
p{
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    margin-left: 20px;
}
form{
    margin-left: 250px; 
    font-size: x-large;
    font-weight: bolder;
}
input{
    width: 150px;
    height:10px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    color: #0d5c63;
    font-weight: bolder;
    font-size: x-large;
}
#labelBill{
    margin-right:20px;
}
#calculator{
    padding: 10px;
    width: 200px;
    height: 50px;
    color: #0d5c63;
    font-weight: bolder;
    border-radius: 10px;
    margin-right: 20px; 
    font-size: large;
    margin-top: 25px;
    background-color: orange;
}

#Reset{
    padding: 10px;
    width: 100px;
    height: 50px;
    color: #0d5c63;
    font-weight: bolder;
    border-radius: 10px;
    margin-right: 50px; 
    font-size: large;
    margin-top: 25px;
    background-color: orange;
}


#calculator:hover{
    background-color: burlywood;
}
#Reset:hover{
    background-color: burlywood;
}
#total{
    margin-left: 250px; 
    text-align: left;

}
#sco{
    text-align: center;
    margin-right: 10px;
}
#logo{
    padding-right: 10px;
    
   
}
#link{
    color: red;
    
}